.topbar {
    width: 100%;
    height: 75px;
    background-color: #570A57;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.bar-wrapper {
    height: 100%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
    color: #A91079;
}

.top-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.topbar-icons {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #A91079;
}