.grid-container {
    margin: 20px;
}

.toggle-month {
    text-align: center;
    cursor: pointer;
    border-right: 1px solid gray;
}

.display-year {
    text-align: center;
}

.month-cell {
    cursor: pointer;
}

.month-cell:hover {
    background-color: darkgray;
    transition: all 600ms;
}

.select-month {
    background-color: rgb(157, 154, 154);
}

.weekday-header {
    background-color: gray;
}

.week-day {
    text-align: center;
    cursor: pointer;
}

.today {
    background-color: aqua;
}

.selected {
    z-index: 50;
    background-color: yellow;
}

.active {
    z-index: 100;
    background-color: rgba(97, 255, 145, 0.5); 
    padding: 10px;
    border-radius: 17px;
}