.sets {
    border: 1px solid gray;
    margin-bottom: 20px;
    padding: 10px;
}

/** amountofreps and weightseachrep **/

.icon {
    cursor: pointer;
    text-align: center;
}

.activity-log-cell {
    text-align: center;
}

.time-input {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.activity-logger {
    margin-bottom: 30px;
}

